name: Clang
on:
  push:
    branches:
      - "*"
    paths:
      - .github/workflows/clang.yaml
      - include/**
      - tests/**
      - CMakeLists.txt
  pull_request:
    branches:
      - master

jobs:
  build:
    name: Build and run tests (Clang)
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Prepare
        env:
          CC: clang-18
          CXX: clang++-18
        run: |
          cmake -B build_clang -DBUILD_TESTS=ON -DCMAKE_CXX_COMPILER=$CXX -DCMAKE_C_COMPILER=$CC
        continue-on-error: false

      - name: Build and Run tests
        run: |
          cmake --build build_clang/ -j4
        continue-on-error: false

      - name: Run tests
        run: |
          ./build_clang/tests/run_uts
