name: GCC
on:
  push:
    branches:
      - "*"
    paths:
      - .github/workflows/gcc.yaml
      - include/**
      - tests/**
      - CMakeLists.txt
  pull_request:
    branches:
      - master

jobs:
  build:
    name: Build and run tests (GCC)
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Prepare
        env:
          CC: gcc-13
          CXX: g++-13
        run: |
          cmake -B build_gcc -DBUILD_TESTS=ON -DCMAKE_CXX_COMPILER=$CXX -DCMAKE_C_COMPILER=$CC
        continue-on-error: false

      - name: Build tests
        run: |
          cmake --build build_gcc/ -j 4
        continue-on-error: false

      - name: Run tests
        run: |
          ctest --test-dir build_gcc/tests/ -V
