name: g++
on:
  push:
    branches:
      - '*'
    paths:
      - .github/workflows/gpp.yaml
      - include/**
      - tests/**
      - CMakeLists.txt

jobs:
  build:
    name: Build and run tests (g++)
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Prepare
        env:
          CC:  gcc-13
          CXX: g++-13
        run: |
          cmake -B build -DBUILD_TESTS=ON -DCMAKE_CXX_COMPILER=$CXX -DCMAKE_C_COMPILER=$CC
        continue-on-error: false

      - name: Build test executable
        run: |
          cd build && make -j 4
        continue-on-error: false

      - name: Run tests
        run: |
          ./build/tests/run
