name: MSVC
on:
  push:
    branches:
      - "*"
    paths:
      - .github/workflows/msvc.yaml
      - include/**
      - tests/**
      - CMakeLists.txt
  pull_request:
    branches:
      - master

jobs:
  build:
    name: Build and run tests (MSVC)
    runs-on: windows-2022

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure CMake
        run: |
          cmake -B build_msvc -G "Visual Studio 17 2022" -A x64 -DBUILD_TESTS=ON
        shell: powershell

      - name: Build tests
        run: |
          cmake --build build_msvc --config Debug --parallel
        shell: powershell

      - name: Run tests
        run: |
          tree /f
        shell: powershell
